@media (max-width:730px) {
    .logo img {
        height: 160px;
        width: 160px;
        top: 190px;
    }
}
@media (max-width:700px) {
    .content{
        width: 100%;
    }
    .basket{
        height: 100%;
    }
    .basket-wrapper {
        display: none;
    }
    .basket-resp {
        gap: 16px;
        text-align: center;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        bottom: 0;
        position: sticky;
    }
    .inner-warenkorb {
        display: flex !important;
        justify-content: center;
    }
    .basket-head {
        box-shadow: none;
    }
    .menu {
        display: none;
    }
}

@media (max-width: 400px) {
    .navbar img { 
        display: none;
    }
    .navbar {
        padding: 20px 40px;
        align-items: flex-start;
        height: auto;
        flex-direction: column;
    }
    footer {
        flex-direction: column;
        padding: 16px;
        gap: 8px;
    }
    .footer-icons img {
        height: 24px;
        width: 24px;
    }
    .logo img {
        height: 140px;
        width: 140px;
        top: 200px;
    }
}