html, body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    scroll-behavior: smooth;
}

header {
    background-color: chocolate;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 40px 0 40px;
    justify-content: space-between;
}

header img {
    height: 48px;
    width: 104px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}

.line {
    background-color: white;
    height: 3px;
    width: 32px;
}

.head-pic-sec {
    height: 200px;
}
.head-pic-sec img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.imbiss-name-sec {
    padding: 0 40px 0 40px;
}
.imbiss-name {
    font-weight: bold;
    font-size: 24px;
}
.rate {
    color: chocolate;
    font-size: 16px;
}

.navbar {
    padding: 0 40px 0 40px;
    align-items: center;
    height: 48px;
    display: flex;
    background-color: #80808017;
    gap: 24px;
    font-weight: 500;
    font-size: 16px;
    gap: 24px;
}
.navbar a {
    border-radius: 50px;
    padding: 4px;
    color: black;
    text-decoration: none;
}
.navbar a:hover {
    color: chocolate;
}
.navbar img {
    height: 24px;
    width: 24px;
}

.mid-pic-sec {
    height: 180px;
    padding: 16px 40px 16px 40px;
}
.mid-pic-sec img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

main, .sides, .drinks {
    flex: 1;
    flex-direction: column;
    display: flex;
    gap: 24px;
    padding: 2px 40px 24px 40px;
}

.bottom-pic-sec {
    height: 120px;
    padding: 16px 40px 16px 40px;
}
.bottom-pic-sec img {
    height: 120px;
    width: 100%;
    object-fit: cover;
}

footer {
    background-color: chocolate;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 40px 0 40px;
    justify-content: space-between;
}
footer img {
    height: 48px;
    width: 104px;
}
.footer-icons {
    display: flex;
    gap: 24px;
}
.footer-icons img {
    height: 30px;
    width: 30px;
}
.footer-icons img:hover {
    filter: drop-shadow(0px 0px 4px #FFFFFF);
}

.food-temp-headline {
    font-weight: bold;
    font-size: 18px;
    padding: 12px;
}
.food-temp{
    padding: 12px;
    border: solid 0.5px #e0dada;
    flex-direction: column;
    display: flex;
    gap: 8px;
}
.food-temp:hover {
    background-color: rgba(255, 166, 0, 0.49);
}
.food-temp-head {
    display: flex;
    justify-content: space-between;
}
.food-temp-name {
    font-weight: bold;
}
.food-temp-price {
    color: chocolate;
    font-weight: bold;
}

.content-wrapper{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.content {
    width: calc(100% - 280px);
    flex-direction: column;
    display: flex;
}


.logo img {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
    height: 85px;
    width: 85px;
    z-index: 1000;
    border-radius: 50px;
}

.slider {
    padding: 16px 40px 16px 40px;
}
.slider img {
    height: 80px;
    width: 100%;
    object-fit: cover;
}


